button{
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #34975a;
}

button:active{
  box-shadow: 0 2px 0px;
  transform: translateY(2px);
}

/* Clase asigana da al botón en boton.jsx (L9) */
.boton-click {
  background-color: #9445da;
}

/* Clase asigana da al botón en boton.jsx (L9) */
.boton-reiniciar{
  background-color:  #2758de;
}